//font-family
$manrope: 'Manrope';
$roboto: 'Roboto';
$inter: 'Inter';

//color
$black: #000;
$white: #fff;
$whiteBlue: #DEDFE1;
$lightGrey: #DADADA;
$redBlack: #333333;
$greysix: #666666;
$grey: #31353B;
$orange: #F85A47;
$orange-hover: #b9473a;
$yellow: #FF9900;
$blue: #2CBDE7;
$lillow:#9672FF;
$aqua:#4DDFFD;
$pink: #F2B8EC;
$lightBlue: #F1FFFF;