@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Manrope";
  color: #333333;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

button {
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.375;
}

.title__center {
  text-align: center;
}

@media (max-width: 767.98px) {
  .title {
    font-size: 30px;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  min-height: 103px;
  padding: 10px 0px;
}

.header__logo {
  font-size: 23px;
  font-weight: 800;
  line-height: 31px;
  color: inherit;
}

.menu__list {
  display: flex;
  -moz-column-gap: 46px;
       column-gap: 46px;
  row-gap: 5px;
  flex-wrap: wrap;
}

.menu__link {
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
  color: #000;
}

.menu__link:hover {
  border-bottom: 2px solid #333333;
}

.main-block {
  padding-bottom: 110px;
}

.main-block__container {
  position: relative;
  padding-top: 183px;
}

.main-block__container::after {
  background-color: #BDCCFF;
  content: "";
  top: 0;
  position: absolute;
  width: 200%;
  top: 0;
  left: 68%;
  height: 100%;
}

.main-block__body {
  margin-bottom: 14px;
}

.body-main-block {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.body-main-block__content {
  flex: 0 1 50%;
}

.content-main-block {
  padding-top: 40px;
  position: relative;
  z-index: 2;
}

.content-main-block__body {
  padding-right: 80px;
}

.content-main-block__sub-title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  color: #FF9900;
  margin-bottom: 20px;
}

.content-main-block__title {
  font-size: 54px;
  font-weight: 800;
  line-height: 73px;
  margin-bottom: 20px;
}

.content-main-block__text {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #31353B;
  margin-bottom: 45px;
}

.form-main-block {
  display: flex;
  position: relative;
  z-index: 2;
  margin-right: -188px;
  border: 1px solid #DADADA;
  background: #fff url(../images/home.svg) 33px 32px no-repeat;
}

.form-main-block__input {
  height: 86px;
  background-color: transparent;
  flex: 1 1 auto;
  padding: 0px 0px 0px 74px;
  color: #000;
  width: 100%;
}

.form-main-block__input::-moz-placeholder {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #31353B;
  opacity: 0.3;
}

.form-main-block__input:-ms-input-placeholder {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #31353B;
  opacity: 0.3;
}

.form-main-block__input::placeholder {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #31353B;
  opacity: 0.3;
}

.form-main-block__button {
  flex: 1 0 188px;
  width: 188px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: #F85A47;
  color: #fff;
  padding: 5px 15px;
  z-index: 30;
  font-size: 17px;
  font-weight: 700;
  line-height: 300%;
  letter-spacing: 0.01em;
}

.form-main-block__button:hover {
  background-color: #b9473a;
}

.body-main-block__slider {
  flex: 0 1 50%;
  min-width: 0;
}

.slider-main-block__slide {
  position: relative;
  padding-bottom: 95%;
}
.slider-main-block__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-main-block__arrows {
  position: absolute;
  bottom: -52px;
  right: 0;
  display: flex;
  align-items: center;
  gap: 40px;
}

.body-main-block__arrow.swiper-button-prev,
.body-main-block__arrow.swiper-button-next {
  position: static;
  height: 20px;
  width: 11px;
  background: url("../images/arrow.svg") 0 0/100% no-repeat;
}

.body-main-block__arrow::after {
  display: none;
}

.body-main-block__arrow.swiper-button-prev {
  transform: rotate(-180deg);
}

.partners-main-block {
  max-width: 67%;
}

.partners-main-block__label {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.01em;
  margin-bottom: 27px;
}

.partners-main-block__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}
.partners-main-block__items img {
  max-width: 100%;
}

.how {
  padding-top: 110px;
  padding-bottom: 110px;
}

.how__title {
  margin-bottom: 70px;
}

.how__items {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 260px));
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 45px;
  justify-content: space-between;
}

.item-how {
  text-align: center;
  display: grid;
  justify-items: center;
  position: relative;
}

.item-how:not(:last-child):after {
  content: "";
  position: absolute;
  right: 0px;
  top: 41px;
  transform: translate(86.5%, 0px);
  width: 210px;
  height: 11px;
  background: url("../images/lillow-aqua.svg") 0 0/100% no-repeat;
}

.item-how__aqua:not(:last-child):after {
  transform: translate(86.5%, 0px) rotate(-180deg);
}

.item-how__icon {
  margin-bottom: 50px;
  width: 90px;
  height: 90px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.item-how__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 15px;
}

.item-how__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.item-how__lillow .item-how__icon {
  background-color: #9672FF;
  box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}

.item-how__aqua .item-how__icon {
  background-color: #4DDFFD;
  box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}

.item-how__pink .item-how__icon {
  background-color: #F2B8EC;
  box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}

.deals {
  padding: 110px 0px;
}

.deals__header {
  margin-bottom: 50px;
}

.header-deals {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.header-deals__content {
  flex: 1 1 auto;
}

.header-deals__title:not(:last-child) {
  margin-bottom: 15px;
}

.header-deals__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 470px;
}

.header-deals__link {
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: #F85A47;
  color: #fff;
  padding: 22px 33.5px;
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
}

.header-deals__link:hover {
  background-color: #b9473a;
}

.tabs-deals {
  margin-bottom: 45px;
}

.tabs-deals__nav {
  display: flex;
  -moz-column-gap: 54px;
       column-gap: 54px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.tabs-deals__button {
  font-size: 19px;
  line-height: 26px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.tabs-deals__button:hover {
  color: #F85A47;
}
.tabs-deals__button.active {
  color: #F85A47;
}

.tabs-deals__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s ease 0s;
  background-color: #F85A47;
}

.tabs-deals__button:hover::after {
  width: 100%;
}

.tabs-deals__button.active::after {
  width: 100%;
}

.tabs-deals__item {
  display: none;
}

.tabs-deals__item.active {
  display: block;
}

.item-tabs__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.item-tabs__item {
  position: relative;
}

.item-tabs__options {
  position: absolute;
  top: 14px;
  left: 14px;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  -moz-column-gap: 6px;
       column-gap: 6px;
  row-gap: 20px;
}

.item_tabs__option {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  flex: 0 1 auto;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 5px 12px;
  color: #fff;
  transition: background-color 0.3s ease 0s;
}

.item_tabs__option:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.item-tabs__image {
  position: relative;
  padding-bottom: 81%;
  display: block;
  overflow: hidden;
}
.item-tabs__image img {
  transition: transform 0.3s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}
.item-tabs__image img:hover {
  transform: scale(1.1);
}

.featured {
  padding: 110px 0px;
}

.featured__title {
  margin: 110px 0px;
}

.featured__body {
  background-color: #F1FFFF;
  display: grid;
  padding: 40px 40px 80px 40px;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 77px;
       column-gap: 77px;
  row-gap: 40px;
}

.featured__content {
  display: flex;
  flex-direction: column;
}

.images-featured {
  display: grid;
  justify-items: center;
}

.images-featured__item img {
  max-width: 100%;
}

.images-featured__item_mini {
  margin: 0px 20px;
  margin-top: -114px;
  filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
}

.content-featured__title {
  font-size: 31px;
  font-weight: 600;
  line-height: 1.35;
  margin-bottom: 28px;
}

.content-featured__text {
  max-width: 344px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 42px;
}

.content-featured__options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  row-gap: 37px;
}

.options-content-featured {
  margin-bottom: 54px;
}

.options-content-featured__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 12px;
}

.options-content-featured__value {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

.content-featured__link {
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: #F85A47;
  color: #fff;
  padding: 16px 38px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
}
.content-featured__link:hover {
  background-color: #b9473a;
}

.reviews {
  padding: 110px 0px;
}

.reviews__title {
  margin-bottom: 50px;
  max-width: 570px;
}

.reviews__items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

.reviews__item {
  display: grid;
  justify-items: start;
}

.item-reviews {
  color: inherit;
  padding: 50px 40px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.item-reviews:hover {
  border: 1px solid transparent;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
}

.item-reviews__rating {
  margin-bottom: 35px;
}

.item-reviews__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #333333;
  margin-bottom: 53px;
}

.item-reviews__autor {
  align-self: flex-end;
  display: grid;
  grid-template-columns: 48px 135px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.autor-item-reviews {
  display: flex;
  gap: 20px;
  align-items: center;
}

.autor-item-reviews__avatar {
  flex: 0 0 48px;
  border-radius: 50%;
  overflow: hidden;
}

.autor-item-reviews__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.autor-item-reviews__location {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #666666;
}

.simple-rating {
  position: relative;
  font-size: 23px;
  display: inline-block;
}

.simple-rating::before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #e7d9d9;
}

.simple-rating__label::before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #FBB040;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #ebd7b9;
}

.reviews__footer {
  padding-top: 85px;
}

.footer-reviews {
  display: flex;
  -moz-column-gap: 108px;
       column-gap: 108px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.partner-footer-reviews {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 29px;
}

.footer-reviews__info {
  flex: 0 1 291px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}
.footer-reviews__info a {
  font-size: 16px;
  line-height: 32px;
  color: #2CBDE7;
}

.subscribe {
  padding: 110px 0px;
}

.subscribe__header {
  color: #31353B;
  text-align: center;
  margin-bottom: 34px;
}

.subscribe__title {
  font-size: 45px;
  font-weight: 700;
  line-height: 144.2%;
  letter-spacing: 0.02rem;
}

.subscribe__sub-title {
  font-size: 23px;
  font-weight: 700;
  line-height: 144.2%;
  margin-bottom: 34px;
}

.subscribe__form {
  max-width: 686px;
  margin: 0 auto;
}

.form-subscribe {
  background: #FFFFFF;
  display: flex;
  gap: 15px;
  padding: 25px 45px;
  box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
}

.form-subscribe__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.form-subscribe__label {
  display: block;
  text-align: start;
  margin-bottom: 10px;
  color: rgba(49, 53, 59, 0.2);
}

.form-subscribe__input {
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  min-height: 40px;
  flex: 1 1 auto;
}

.form-subscribe__button {
  display: block;
  background: #F85A47;
  padding: 23px 40px;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #fff;
}
.form-subscribe__button:hover {
  background-color: #b9473a;
}

.footer__container {
  display: grid;
  padding: 60px 0px;
  grid-template-columns: auto 1fr;
  border-top: 1px solid #DEDFE1;
  align-items: center;
  row-gap: 70px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.footer__logo {
  font-size: 23px;
  line-height: 31px;
  color: inherit;
}

.footer__menu {
  display: flex;
  justify-content: flex-end;
}

.menu-footer__list {
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
}

.menu-footer__link {
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: inherit;
}
.menu-footer__link:hover {
  text-decoration: underline;
}

.footer__copy {
  grid-column: span 2;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
  .body-main-block {
    display: block;
  }
  .form-main-block {
    margin-right: 0;
  }
  .body-main-block__content {
    margin-bottom: 20px;
  }
  .main-block__container {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .content-main-block__body {
    padding-right: 0px;
  }
  .content-main-block__title {
    font-size: 30px;
    line-height: 120px;
  }
  .main-block__body {
    margin-bottom: 40px;
  }
  .form-main-block {
    display: block;
  }
  .form-main-block__button {
    width: 100%;
  }
  .partners-main-block {
    max-width: none;
    position: relative;
    z-index: 2;
  }
  .item-how:not(:last-child):after {
    transform: translate(69%, 0px);
    width: 170px;
  }
  .item-how__aqua:not(:last-child):after {
    transform: translate(69%, 0px) rotate(-180deg);
  }
}
@media (max-width: 990.98px) {
  [class*=__container] {
    max-width: 750px;
  }
  .main-block {
    padding-bottom: 70px;
  }
  .how,
.deals,
.featured,
.reviews,
.subscribe {
    padding: 70px 0px;
  }
  .how__items {
    padding: 0px 35px;
  }
  .item-how:not(:last-child):after {
    transform: translate(63%, 0px);
    width: 130px;
  }
  .item-how__aqua:not(:last-child):after {
    transform: translate(63%, 0px) rotate(-180deg);
  }
  .featured__body {
    display: flex;
    flex-direction: column-reverse;
  }
  .featured__title {
    margin-bottom: 50px;
  }
}
@media (min-width: 990.98px) {
  .content-featured__body {
    max-width: 412px;
    padding-top: 43px;
    flex: 1 1 auto;
  }
  .content-featured__link {
    max-width: 412px;
  }
  .subscribe__title {
    font-size: 35px;
  }
  .subscribe__sub-title {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0 15px;
  }
  .header__container {
    flex-direction: column;
    min-height: 0;
  }
  .menu__list {
    justify-content: center;
  }
  .menu__link {
    font-size: 16px;
  }
  .main-block__container {
    padding-top: 100px;
  }
  .main-block {
    padding-bottom: 30px;
  }
  .partners-main-block__items {
    justify-content: center;
  }
  .how,
.deals,
.featured .reviews,
.subscribe {
    padding: 30px 0px;
  }
  .how__title {
    margin-bottom: 30px;
  }
  .how__items {
    grid-template-columns: 1fr;
  }
  .item-how__icon {
    margin-bottom: 25px;
  }
  .item-how:not(:last-child):after {
    visibility: hidden;
  }
  .header-deals__link {
    width: 100%;
  }
  .featured__body {
    margin: 0px -15px;
    padding: 20px 15px 20px 15px;
  }
  .featured__title {
    margin-bottom: 30px;
  }
  .content-featured__title {
    font-size: 24px;
  }
  .subscribe__title {
    font-size: 24px;
  }
  .subscribe__sub-title {
    font-size: 16px;
  }
  .form-subscribe {
    margin: 0px -15px;
    padding: 15px;
    flex-direction: column;
  }
  .footer__container {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 30px;
  }
}
@media (max-width: 479.98px) {
  .form-main-block {
    background: #fff;
  }
  .form-main-block__input {
    padding: 0px 15px;
  }
  .content-featured__options {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 35px;
  }
}/*# sourceMappingURL=style.css.map */