//.best-gift {
  
//}
.best-gift__container {
   background: -webkit-linear-gradient(270deg, rgb(255, 255, 255) 34%, rgb(237, 240, 245) 17%);
   background: -moz-linear-gradient(270deg, rgb(255, 255, 255) 34%, rgb(237, 240, 245) 17%);
   background: linear-gradient(270deg, rgb(255, 255, 255) 34%, rgb(237, 240, 245) 17%);
 position: relative; 
}

//.best-gift__image {
//}
//.best-gift__prices {
//}
//.best-gift__price {
//}
//.best-gift__title {
//}
//.best-gift__text {
//}
//.best-gift__icons {
//}
//.best-gift__column {
//}
//.best-gift__icon {
//}
//.icon__content {
//}
//.icon__subtitle {
//}
//.icon__title {
//}
//.best-gift__buttons {
//}
//.best-gift__button {
//}
//.best-gift__block_paginate {
//}
//.pginate_one {
//}
//.paginate_two {
//}
//.paginate_three {
//}